<h1 class="center-align">Authors</h1>
<div class="container">
  <table class="centered striped">
    <thead>
      <tr>
        <th>Authors</th>
      </tr>
    </thead>
      <tbody>
      <% @authors.each do |author| %>
        <tr>  
          <td><%= author.first_name %></td>
          <td><%= author.last_name %></td>
          <td><%= button_to "Delete", author, method: :delete, class: "waves-effect waves-light btn-small"%></td>
          <td><%= link_to "Edit", edit_author_path(author), class: "waves-effect waves-light btn-small"%></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</br>
</div>
